.smallVideoPlayer {
  margin-bottom: 40px;
  padding-left: 50px;
  margin-top: 15px;
  width: 270px;
}
.smallVideoPlayer__thumbnail {
  height: 140px;
  width: 250px;
}
.smallVideoPlayer__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.smallVideoPlayer__text {
  margin-left: 15px;
}
.smallVideoPlayer__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.smallVideoPlayer__text > p {
  font-size: 14px;
  color: gray;
}
.smallVideoPlayer__avatar {
  height: 30px !important;
  width: 30px !important;
}
