.videoRow {
  display: flex;
  margin-bottom: 30px;
  margin-left: 50px;
  max-width: 700px;
}
.videoRow > a > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}
.videoRow > a {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
.videoRow__text > a > h3 {
  margin-bottom: 5px;
  color: black;
}
.videoRow__text {
  margin-left: 14px;
}
.videoRow__desc {
  margin-top: 20px;
  font-size: 12px;
  color: #606060;
}
.videoRow__headline {
  font-size: 12px;
  color: #606060;
}
